body{
    margin:0;
    position:absolute;
}
.add{
    background-color: beige;
    position: relative;
    width:600px;
    height: 600px;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    top:75px;
    left:450px;
}
.ill{
    position: relative;
    color:blue;
    left:75px;
    top:100px;
}
#ill{
    position: relative;
    border-radius: 15px;
    top:100px;
    left:100px;
    width:250px;
    padding-left: 5px;
    padding-right: 5px;
}
.rill{
    position: relative;
    color:blue;
    top:150px;
    left:-350px;
}
#re{
    position: relative;
    border-radius: 15px;
    top:125px;
    left:262px;
    width:250px;
    padding-left: 5px;
    padding-right: 5px;

}
.submit{
    position: relative;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    top:200px;
    width:100px;
    height: 25px;
    left:250px;
    background-color: rgb(226, 58, 204);
    cursor: pointer;
}
.submit:hover{
    background-color: aquamarine;
}
.ext{
    color: red;
    text-align: center;
    position: relative;
    top:250px;
}